<main id="main">

    <div class="book-wrapper">
        <div class="wrapper">

            <div class="image">
                <img src="../../assets/Book-review-tom-sawyer-vidya-sury.jpg" alt="Tom Sawyer">
            </div>

            <div class="information">
                <h3 class="title">Title: Tom Sawyer</h3>
                <h4 class="author">Author: Mark Twain</h4>
                <p class="brief-summary">Summary: An imaginative and mischievous boy named Tom Sawyer lives with his Aunt Polly and his half-brother, Sid, in the Mississippi River town of St. Petersburg, Missouri. 
                    After playing hooky from school on Friday and dirtying his clothes in a fight, Tom is made to whitewash the fence as punishment on Saturday. 
                    At first, Tom is disappointed by having to forfeit his day off. However, he soon cleverly persuades his friends to trade him small treasures for the privilege of doing his work. 
                    He trades these treasures for tickets given out in Sunday school for memorizing Bible verses and uses the tickets to claim a Bible as a prize. 
                    He loses much of his glory, however, when, in response to a question to show off his knowledge, he incorrectly answers that the first two disciples were David and Goliath.
                </p>

                <p class="price">Price: $20</p>

                <a routerLink="/book-details" class="see-details-button">See Details</a>
            </div>
            
        </div>

        <div class="wrapper">

            <div class="image">
                <img src="../../assets/Book-review-tom-sawyer-vidya-sury.jpg" alt="Tom Sawyer">
            </div>

            <div class="information">
                <h3 class="title">Title: Tom Sawyer</h3>
                <h4 class="author">Author: Mark Twain</h4>
                <p class="brief-summary">Summary: An imaginative and mischievous boy named Tom Sawyer lives with his Aunt Polly and his half-brother, Sid, in the Mississippi River town of St. Petersburg, Missouri. 
                    After playing hooky from school on Friday and dirtying his clothes in a fight, Tom is made to whitewash the fence as punishment on Saturday. 
                    At first, Tom is disappointed by having to forfeit his day off. However, he soon cleverly persuades his friends to trade him small treasures for the privilege of doing his work. 
                    He trades these treasures for tickets given out in Sunday school for memorizing Bible verses and uses the tickets to claim a Bible as a prize. 
                    He loses much of his glory, however, when, in response to a question to show off his knowledge, he incorrectly answers that the first two disciples were David and Goliath.
                </p>

                <p class="price">Price: $20</p>

                <a routerLink="/" class="see-details-button">See Details</a>
            </div>

            
        </div>

        <div class="wrapper">

            <div class="image">
                <img src="../../assets/Book-review-tom-sawyer-vidya-sury.jpg" alt="Tom Sawyer">
            </div>

            <div class="information">
                <h3 class="title">Title: Tom Sawyer</h3>
                <h4 class="author">Author: Mark Twain</h4>
                <p class="brief-summary">Summary: An imaginative and mischievous boy named Tom Sawyer lives with his Aunt Polly and his half-brother, Sid, in the Mississippi River town of St. Petersburg, Missouri. 
                    After playing hooky from school on Friday and dirtying his clothes in a fight, Tom is made to whitewash the fence as punishment on Saturday. 
                    At first, Tom is disappointed by having to forfeit his day off. However, he soon cleverly persuades his friends to trade him small treasures for the privilege of doing his work. 
                    He trades these treasures for tickets given out in Sunday school for memorizing Bible verses and uses the tickets to claim a Bible as a prize. 
                    He loses much of his glory, however, when, in response to a question to show off his knowledge, he incorrectly answers that the first two disciples were David and Goliath.
                </p>

                <p class="price">Price: $20</p>

                <a routerLink="/" class="see-details-button">See Details</a>
            </div>

            
        </div>
    </div>
</main>
