<main id="main">
    <div class="edit-book">

    <h1>Edit Book</h1>

    <form
        id="edit-form"
        class="edit-form"
        [formGroup]="form"
        (ngSubmit)="onEdit()"
    >

        <div class="input-box">
            <label>Title:</label>
            <input type="text"
                name="title"
                formControlName="title"
                required
            />
        </div>

        <div class="input-box">
            <label>Author:</label>
            <input
                type="text"
                name="author"
                formControlName="author"
                required
            />
        </div>

        <div class="input-box">
            <label>ImageUrl:</label>
            <input
                type="text"
                name="image"
                formControlName="image"
                required
            />
        </div>

        <div class="input-box">
            <label>Summary:</label>
            <input
                type="text"
                formControlName="summary"
                name="summary"
                required
            />
        </div>

        <div class="input-box">
            <label>Description:</label>
            <input
            type="text"
            name="information"
            formControlName="information"
            required
            />
        </div>

        <div class="input-box">
            <label>Price:</label>
            <input
                type="text"
                name="price"
                formControlName="price"
                required
            />
        </div>

        <div class="create-edit-button">
            <button type="submit" value="Edit">Edit</button>
        </div>
    </form>
</div>
</main>

