<main id="main">
    <div class="details-wrapper" *ngFor="let book of bookInformation">
        <div class="image">
            <img src="{{ book?.img }}" alt="{{ book?.title }}" />
        </div>

        <div class="information">
            <div class="information">
                <h3 class="title">{{ book?.title }}</h3>
                <h4 class="author">{{ book?.author }}</h4>

                <p class="brief-info">
                    {{ book?.information }}
                </p>

                <p class="brief-summary">
                    {{ book?.summary }}
                </p>

                <p class="price">Price: {{ book?.price }}</p>
            </div>

            <div class="buttons">
                <a routerLink="/edit-book" class="edit">Edit</a>
                <a routerLink="/books-collection" class="delete" (click)="onDeleteBook(bookId!)">Delete</a>
            </div>

            <div class="comment-section">
                <h2 class="comment-section-title">Comment Section</h2>

                <div class="write-comment">
                    <img src="../../../assets/user_318-644325.avif" alt="user-image">
                    <input placeholder="Join the conversation" />
                    <button type="submit" class="send-comment">Send</button>
                </div>

                <div class="comment-structure" *ngFor="let c of commentsList">
                    <div class="author-information">
                        <img src="../../../assets/user_318-644325.avif" alt="user-image" class="user-image">
    
                        <div class="author-details">
                            <h3 class="author-username">{{ c.username }}</h3>
                            <h4 class="user-tag">{{ c.tag }}</h4>
                        </div>
                    </div>
    
                    <div class="comment-information">
                        <p class="comment">{{ c.comment }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>