@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital@1&family=Goudy+Bookletter+1911&family=Pangolin&display=swap');

* {
    font-family: 'Pangolin', cursive;
}

.footer {
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    height: 60px;   /* Height of the footer */
    background: #560D0D;
}

.wrapper h3 {
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    font-weight: bold;
}
/* 
.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
} */

.extra {
    display: flex;
    justify-content: space-between;
}

.extra h2 {
    color: white;
    margin-left: 30px;
    margin-top: 25px;
    font-size: 20px;
}

.extra ul {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.extra ul li a{
    text-decoration: none;
    color: white;
    padding-right: 40px;
    font-size: 20px;
}