<footer class="footer">
    <div class="wrapper">
        <!-- <div class="social-media">
           <p>Github</p>
            <p>LinkedIn</p>
        </div> -->

        <div class="extra">
            <h2>©BookMania Irikov10</h2>

            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/books-collection">Books Collection</a></li>
                <li><a routerLink="/favorite-books">Favorite Books</a></li>
            </ul>
        </div>
    </div>
</footer>
