<main id="main">
    <div class="books">
        <div class="wrapper" *ngFor="let book of booksCollection">
    
            <div class="image">
                <img src="{{ book.image }}" alt="{{ book.title }}">
            </div>
    
            <div class="information">
                <h3 class="title">Title: {{ book.title }}</h3>
                <h4 class="author">Author: {{ book.author }}</h4>
    
                <a [routerLink]="'/books-collection/details/' + book._id" class="see-details-button">See Details</a>
            </div>
    
            
        </div>
    </div>
</main>

