@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital@1&family=Goudy+Bookletter+1911&family=Pangolin&display=swap');

* {
    font-family: 'Pangolin', cursive;
}

html {
    overflow: hidden;
}

#main {
    background: #6E2828;
}

.wrapper {
    display: flex;
    flex-direction: column;
    border-bottom: 3px outset black;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    border: 5px solid black;
    width: 500px;
}

.books {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

.image img {
    height: 400px;
    width: 300px;
    margin: 20px 20px;
    border: 10px outset white;
    padding: 1px;
    position: relative;
    left: 15%;
}

.information {
    margin: 20px;
    /* line-height: 40px; */
    color: #CBD18F;
}

.title {
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.author {
    margin-bottom: 20px;
    font-size: 18px;
}

.brief-summary {
    line-height: 30px;
    font-size: 18px;
    margin-bottom: 20px;
}

.see-details-button {
    position: relative;
    left: 75%;
    top: -1%;
    color: #CBD18F;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 15px;
    background: #5380BD;
    color: white;
}

.price {
    margin-bottom: 40px;
}