<main id="main">

    <div class="book-wrapper">
        <div class="wrapper" *ngFor="let book of booksList">

            <div class="author-information">
                <img src="../../../assets/user_318-644325.avif" alt="user-image" class="user-image">
    
                <div class="author-details">
                    <h3 class="author-username">{{ book.username }}</h3>
                    <h4 class="user-tag">@{{ book.username }}</h4>
                </div>
            </div>

            <div class="image">
                <img src="{{ book?.image }}" alt="{{ book?.title }}">
            </div>

            <div class="information">
                <h3 class="title">{{ book?.title }}</h3>
                <h4 class="author">{{ book?.author }}</h4>

            </div>

            <a [routerLink]="'details/' + book._id" class="btn">

                <div class="see-details-button" *ngIf="userService.isAuthenticated()">
                    See Details
                </div>
            </a>
        </div>

    </div>

    <div class="empty-container">
        <div class="empty" *ngIf="booksList?.length === 0">
            <p>There are no books in the collection</p>
        </div>
    </div>  

    <div class="add-btn-wrapper" *ngIf="userService.isAuthenticated()">
        <a routerLink="/add-book" class="add-btn">Add Book</a>
    </div>
</main>