<main id="main">

    <div class="book-wrapper">
        <div class="wrapper" *ngFor="let book of booksList">

            <div class="image">
                <img src="{{ book?.image }}" alt="{{ book?.title }}">
            </div>

            <div class="information">
                <h3 class="title">{{ book?.title }}</h3>
                <h4 class="author">{{ book?.author }}</h4>

            </div>

                <div class="buttons" *ngIf="userService.isAuthenticated()">
                    <a [routerLink]="'details/' + book._id" class="btn" class="see-details-button">See Details</a>
                    <button class="favorite">Mark as favorite</button>
                </div>
        </div>

    </div>

    <div class="empty-container">
        <div class="empty" *ngIf="booksList?.length === 0">
            <p>There are no books in the collection</p>
        </div>
    </div>  

    <div class="add-btn-wrapper" *ngIf="userService.isAuthenticated()">
        <a routerLink="/add-book" class="add-btn">Add Book</a>
    </div>
</main>