<header class="hero">

    <nav class="navigation">
        <a href="" class="logo">Book<span class="hero">Mania</span></a>

        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/books-collection">Books Collection</a></li>
            <ul *ngIf="isLoggedIn">
                <li><a routerLink="/favorite-books">Favorite Books</a></li>
                <li><a routerLink="/">Logout</a></li>
            </ul>

            <ul *ngIf="!isLoggedIn">
                <li><a routerLink="/login">Login</a></li>
                <li><a routerLink="/register">Register</a></li>
                <li class="sign-in-button">Sign in</li>
            </ul>
        </ul>
    </nav>
</header>
