<header class="hero">

    <nav class="navigation">
        <a href="" class="logo">Book<span class="hero">Mania</span></a>

        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/books-collection"  routerLinkActive="active">Books Collection</a></li>
            <ul *ngIf="userService.isAuthenticated()">
                <li><a routerLink="/favorite-books"  routerLinkActive="active">Favorite Books</a></li>
                <li><a (click)="userService.logout()">Logout</a></li>
            </ul>

            <ul *ngIf="!userService.isAuthenticated()">
                <li><a routerLink="/register"  routerLinkActive="active">Register</a></li>
                <li><a routerLink="/login"  class="sign-in-button">Sign in</a></li>
            </ul>
        </ul>
    </nav>
</header>
