<main class="main">
    <div class="container">
        <div class="col">
            <h2>Want to buy a book?</h2>

            <div class="subtitle">
                <h4>
                    BookMania is the perfect website for you to find what book suits your needs
                </h4>
    
                <h4>
                    so you can decide if you want to buy it afterwards.
                </h4>
            </div>

            <div class="buttons" *ngIf="!userService.isAuthenticated()">
                <a routerLink="/login">Login</a>
                <a routerLink="/register">Register</a>
            </div>
        </div>

        <img src="../../assets/book.png" alt="books" />
    </div>
</main>
