<main>
    <div class="wrapper">
        <div class="add-book-container">

            <form
                class="add-book-form"
                id="add-book-form"
                [formGroup]="form"
                (ngSubmit)="createBook()"
            >
                <h2>Add Book</h2>
                <div class="input-box">
                    <!-- <span class="icon"><i class="fa-solid fa-envelope"></i></span> -->
                    <input
                        type="text"
                        id="title"
                        formControlName="title"
                        required
                    />
                    <label for="title">Title</label>
                </div>

                <ng-container *ngIf="form.get('title')?.touched">
                    <div class="error" *ngIf="form.get('title')?.errors?.['required']">
                        <p>Title is required!</p>
                    </div>
                </ng-container>
    
                <div class="input-box">
                    <!-- <span class="icon"><i class="fa-solid fa-lock"></i></span> -->
                    <input
                        type="text"
                        formControlName="author"
                        required
                    />
                    <label for="author">Author</label>
                </div>

                <ng-container *ngIf="form.get('author')?.touched">
                    <div class="error" *ngIf="form.get('author')?.errors?.['required']">
                        <p>Author is required!</p>
                        <p *ngIf="form.get('author')?.errors?.['minlength']">
                            Author name must have at least {{ form.get('author')?.errors?.['minlength']?.['requiredLength'] }}
                        </p>
                    </div>
                </ng-container>

                <div class="input-box">
                    <!-- <span class="icon"><i class="fa-solid fa-lock"></i></span> -->
                    <input
                        type="text"
                        formControlName="image"
                        required
                    />
                    <label for="image">Image</label>
                </div>

                <ng-container *ngIf="form.get('image')?.touched">
                    <div class="error" *ngIf="form.get('image')?.errors?.['required']">
                        <p>ImageUrl is required!</p>
                    </div>
                </ng-container>

                <div class="input-box">
                    <!-- <span class="icon"><i class="fa-solid fa-lock"></i></span> -->
                    <input
                        type="text"
                        formControlName="information"
                        required
                    />
                    <label for="information">Information</label>
                </div>

                <ng-container *ngIf="form.get('information')?.touched">
                    <div class="error" *ngIf="form.get('information')?.errors?.['required']">
                        <p>Information about the book is required!</p>
                        <p *ngIf="form.get('information')?.errors?.['maxLength']">
                            Information text must not have more than {{ form.get('information')?.errors?.['maxLength']?.['requiredLength'] }} words
                        </p>
                    </div>
                </ng-container>

                <div class="input-box">
                    <!-- <span class="icon"><i class="fa-solid fa-lock"></i></span> -->
                    <input
                        type="text"
                        formControlName="summary"
                        required
                    />
                    <label for="summary">Summary</label>
                </div>

                <ng-container *ngIf="form.get('summary')?.touched">
                    <div class="error" *ngIf="form.get('summary')?.errors?.['required']">
                        <p>Information about the book is required!</p>
                        <p *ngIf="form.get('summary')?.errors?.['maxLength']">
                            Summary text must not have more than {{ form.get('summary')?.errors?.['maxLength']?.['requiredLength'] }} words
                        </p>
                    </div>
                </ng-container>

                <div class="input-box">
                    <!-- <span class="icon"><i class="fa-solid fa-lock"></i></span> -->
                    <input
                        type="text"
                        formControlName="price"
                        required
                    />
                    <label for="price">Price</label>
                </div>

                <ng-container *ngIf="form.get('information')?.touched">
                    <div class="error" *ngIf="form.get('author')?.errors?.['required']">
                        <p>Price of the book is required!</p>
                    </div>
                </ng-container>
                
                <button type="submit" class="add-book-btn" value="Add-button" *ngIf="form.invalid" disabled>Add Book</button>
                <button type="submit" class="add-book-btn" value="Add-button" *ngIf="form.valid">Add Book</button>
    
            </form>
        </div>
    </div>
</main>
