<main>
    <div class="wrapper">
        <div class="add-book-container">

            <form
                class="add-book-form"
                id="add-book-form"
                #addBook="ngForm"
                (ngSubmit)="createBook(addBook)"
            >
                <h2>Add Book</h2>

                <div class="input-box">
                    <!-- <span class="icon"><i class="fa-solid fa-envelope"></i></span> -->
                    <input
                        type="text"
                        name="username"
                        id="username"
                        #inputUsername="ngModel"
                        ngModel
                        minLength="3"
                        required
                    />
                    <label for="username">Username</label>
                </div>

                <ng-container *ngIf="inputUsername?.touched">
                    <div class="error" *ngIf="inputUsername?.errors?.['required']">
                        <p>Username is required!</p>
                        <p class="error" *ngIf="inputUsername?.errors?.['minLength']">
                            Username must have at least 3 characters!
                        </p>
                    </div>
                    
                </ng-container>

                <div class="input-box">
                    <!-- <span class="icon"><i class="fa-solid fa-envelope"></i></span> -->
                    <input
                        name="title"
                        type="text"
                        id="title"
                        #inputTitle="ngModel"
                        ngModel
                        required
                    />
                    <label for="title">Title</label>
                </div>

                <ng-container *ngIf="inputTitle?.touched">
                    <div class="error" *ngIf="inputTitle?.errors?.['required']">
                        <p>Title is required!</p>
                    </div>
                </ng-container>
    
                <div class="input-box">
                    <!-- <span class="icon"><i class="fa-solid fa-lock"></i></span> -->
                    <input
                        name="author"
                        type="text"
                        #inputAuthor="ngModel"
                        ngModel
                        minLength="2"
                        required
                    />
                    <label for="author">Author</label>
                </div>

                <ng-container *ngIf="inputAuthor?.touched">
                    <div class="error" *ngIf="inputAuthor?.errors?.['required']">
                        <p>Author is required!</p>
                        <p *ngIf="inputAuthor?.errors?.['minLength']">
                            Author name must have at least {{ inputAuthor?.errors?.['minLength'] }}
                        </p>
                    </div>
                </ng-container>

                <div class="input-box">
                    <!-- <span class="icon"><i class="fa-solid fa-lock"></i></span> -->
                    <input
                        name="image"
                        type="text"
                        #inputImage="ngModel"
                        ngModel
                        required
                    />
                    <label for="image">Image</label>
                </div>

                <ng-container *ngIf="inputImage?.touched">
                    <div class="error" *ngIf="inputImage?.errors?.['required']">
                        <p>ImageUrl is required!</p>
                    </div>
                </ng-container>

                <div class="input-box">
                    <!-- <span class="icon"><i class="fa-solid fa-lock"></i></span> -->
                    <input
                        name="information"
                        type="text"
                        #inputInformation="ngModel"
                        ngModel
                        maxLength="255"
                        required
                    />
                    <label for="information">Information</label>
                </div>

                <ng-container *ngIf="inputInformation?.touched">
                    <div class="error" *ngIf="inputInformation?.errors?.['required']">
                        <p>Information about the book is required!</p>
                        <p *ngIf="inputInformation?.errors?.['maxLength']">
                            Information text must not have more than {{ inputInformation?.errors?.['maxLength']?.['requiredLength'] }} words
                        </p>
                    </div>
                </ng-container>

                <div class="input-box">
                    <!-- <span class="icon"><i class="fa-solid fa-lock"></i></span> -->
                    <input
                        name="summary"
                        type="text"
                        #inputSummary="ngModel"
                        ngModel
                        maxLength="255"
                        required
                    />
                    <label for="summary">Summary</label>
                </div>

                <ng-container *ngIf="inputSummary?.touched">
                    <div class="error" *ngIf="inputSummary?.errors?.['required']">
                        <p>Information about the book is required!</p>
                        <p *ngIf="inputSummary?.errors?.['maxLength']">
                            Summary text must not have more than {{ inputSummary?.errors?.['maxLength']?.['requiredLength'] }} words
                        </p>
                    </div>
                </ng-container>

                <div class="input-box">
                    <!-- <span class="icon"><i class="fa-solid fa-lock"></i></span> -->
                    <input
                        name="price"
                        type="text"
                        #inputPrice="ngModel"
                        ngModel
                        required
                    />
                    <label for="price">Price</label>
                </div>

                <ng-container *ngIf="inputPrice?.touched">
                    <div class="error" *ngIf="inputPrice.errors?.['required']">
                        <p>Price of the book is required!</p>
                    </div>
                </ng-container>
                
                <button type="submit" class="add-book-btn" value="Add-button" *ngIf="addBook.invalid" disabled>Add Book</button>
                <button type="submit" class="add-book-btn" value="Add-button" *ngIf="addBook.valid">Add Book</button>
    
            </form>
        </div>
    </div>
</main>
