<main>
    <div class="wrapper">
        <div class="add-book-container">

            <form
                class="add-book-form"
                id="add-book-form"
                [formGroup]="form"
                (ngSubmit)="createBook()"
            >
                <h2>Add Book</h2>
                <div class="input-box">
                    <!-- <span class="icon"><i class="fa-solid fa-envelope"></i></span> -->
                    <input
                        type="text"
                        id="title"
                        formControlName="title"
                        required
                    />
                    <label for="title">Title</label>
                </div>
    
                <div class="input-box">
                    <!-- <span class="icon"><i class="fa-solid fa-lock"></i></span> -->
                    <input
                        type="text"
                        formControlName="author"
                        required
                    />
                    <label for="author">Author</label>
                </div>

                <div class="input-box">
                    <!-- <span class="icon"><i class="fa-solid fa-lock"></i></span> -->
                    <input
                        type="text"
                        formControlName="image"
                        required
                    />
                    <label for="image">Image</label>
                </div>

                <div class="input-box">
                    <!-- <span class="icon"><i class="fa-solid fa-lock"></i></span> -->
                    <input
                        type="text"
                        formControlName="information"
                        required
                    />
                    <label for="information">Information</label>
                </div>

                <div class="input-box">
                    <!-- <span class="icon"><i class="fa-solid fa-lock"></i></span> -->
                    <input
                        type="text"
                        formControlName="summary"
                        required
                    />
                    <label for="summary">Summary</label>
                </div>

                <div class="input-box">
                    <!-- <span class="icon"><i class="fa-solid fa-lock"></i></span> -->
                    <input
                        type="text"
                        formControlName="price"
                        required
                    />
                    <label for="price">Price</label>
                </div>
                
                <button type="submit" class="add-book-btn" value="Add-button" *ngIf="form.invalid" disabled>Add Book</button>
                <button type="submit" class="add-book-btn" value="Add-button" *ngIf="form.valid">Add Book</button>
    
            </form>
        </div>
    </div>
</main>
